.header__logo {
	position: relative;
	z-index: 1;
}

.header__logo img{
	position: absolute;
	z-index: 1;
}

.header__top {
	position: relative;
	background-color: #e2e1e1;
}

.header__top__auth__item {
	float: left;
}

.header__top__auth__item.login {
	padding: 0;
}

.header__top__auth__item.login a {
	color: #ffffff;
	padding: 8px 16.5px;
	background-color: #f85458;
	display: inline-block;
}

.header__top__auth__item.register {
	padding: 0;
}

.header__top__auth__item.register a {
	color: #ffffff;
	padding: 8px 24px;
	background-color: #c8c3c3;
	display: inline-block;
}

.header__toggle {
	background-color: #4eb5a6;
}

.header__toggle .navbar-toggle {
	margin-right: 0;
	background-color: rgba(255,255,255,1);
}

.header__toggle .navbar-toggle .icon-bar {
	background-color: #f85458;
}

.header__navBar {
	background-color: #4eb5a6;
}


.navbararea {
	margin: 9px 0;

}

.header__navBar__menu__item a {
	color: #ffffff;
	padding: 24px 55px;
}

.header__navBar__menu__item a:hover {
	color: #f95559;
	background-color: #ffffff;
}

.header__navBar__search .form-group {
	position: relative;
	display: block;
}

.header__navBar__search .form-control {
	border-color: transparent;
	border: none;
	background-color: transparent;
	color: #ffffff;
	box-shadow: none;
	border-radius: 0;
	border-bottom: 1px solid #ffffff;
	width: 100%;
}

.header__navBar__search .navbar-form {
}

.header__navBar__search .form-control::placeholder {
	color: #ffffff;
}

.header__navBar__search .form-control:focus {
	box-shadow: none;
	outline: none;
}

.header__navBar__search .form-group .fa-search {
	color: #ffffff;
	position: absolute;
	top: 10px;
	right: 0;
}