.header__logo {
	position: relative;
	z-index: 1;
}

.header__logo img{
	position: absolute;
	z-index: 1;
}

.header__top {
	position: relative;
	background-color: #e2e1e1;
}

.header__top__auth__item {
	float: left;
}

.header__top__auth__item.login {
	padding: 0;
}

.header__top__auth__item.login a {
	color: #ffffff;
	padding: 8px 16.5px;
	background-color: #f85458;
	display: inline-block;
}

.header__top__auth__item.register {
	padding: 0;
}

.header__top__auth__item.register a {
	color: #ffffff;
	padding: 8px 24px;
	background-color: #c8c3c3;
	display: inline-block;
}

.header__toggle {
	background-color: #4eb5a6;
}

.header__toggle .navbar-toggle {
	background-color: rgba(255,255,255,1);
}

.header__toggle .navbar-toggle .icon-bar {
	background-color: #f85458;
}

.header__navBar {
	background-color: #4eb5a6;
}

.navbar {
  margin-bottom: 0;
  z-index: 10;
  position: fixed;
  width: 100%;
}

.navbararea {
	margin: 9px 0;
}

.header__navBar__menu__item a {
	color: #ffffff;
	padding: 24px 55px;
}

.header__navBar__menu__item a:hover {
	color: #f95559;
	background-color: #ffffff;
}

.header__navBar__search .form-group {
	position: relative;
	display: block;
}

.header__navBar__search .form-control {
	border-color: transparent;
	border: none;
	background-color: transparent;
	color: #ffffff;
	box-shadow: none;
	border-radius: 0;
	border-bottom: 1px solid #ffffff;
	width: 100%;
}

.header__navBar__search .navbar-form {
	padding-right: 0;
	padding-left: 0;
	float: none !important;
}

.header__navBar__search .form-control::placeholder {
	color: #ffffff;
}

.header__navBar__search .form-control:focus {
	box-shadow: none;
	outline: none;
}

.header__navBar__search .form-group .fa-search {
	color: #ffffff;
	position: absolute;
	top: 10px;
	right: 5px;
}

@media (max-width: 991px) {

  .header__navBar__menu {
      float: none;
  }

  .navbar-toggle {
      display: block;
  }

  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-collapse.collapse {
      display: none!important;
  }

  .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
  }

  .navbar-nav>li {
      float: none;
  }

  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }

 .navbar-collapse.collapse.in {  /* NEW */
      display: block!important; 
  }

  .header__logo img {
    margin-top: 36px;
    height: 50px;
  }

  .header__navBar__search .navbar-form {
    padding-right: 15px !important;
    padding-left: 15px !important;
    float: none !important;
  }
}

@media (min-width: 992px){
	.header__top .container, .header__navBar .container{
		padding-left:0;
 		padding-right:0;
	}

	.header__navBar__menu {
		padding-right: 0;
		margin: 9px 0;
	}

	.header__navBar__search {
		float: right;
    padding-right: 15px !important;
	}
}

.navbar {
	border: 0;
}

.header__logo, 
.header__logo .container, 
.header__logo .container .row, 
.header__logo .container .row .col-xs-2,
.header__logo .container .row .col-sm-2,
.header__logo .container .row .col-md-4 {
	height: 0 !important;
	min-height: 0 !important;
}

@media (min-width: 1200px) {
.header__navBar__search {
    padding-right: 15px !important;
  }
}

@media (min-width: 768px) {
  .header__toggle .navbar-toggle {
    margin-right: 0;
  }
}

