.iconArea {
  position: relative;
  display: block;
}

.img-responsive {
  position: relative;
  margin: auto;
  border: 15px solid #e4e4e4;
  border-radius: 100px;
}

.iconArea__textField__title {
  text-align: center;
  padding-top: 15px;
  color: #a2a2a2;
  padding-bottom: 5px;
  border-bottom: 1px solid #c7c7c7;
}

.iconArea__textField__content {
  text-align: center;
  color: #9e9e9e;
}

.iconArea__nav {
  padding-top: 50px;
}

.iconArea__nav__item {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  background-color: none;

}

.iconArea__nav__item__button {
  display: inline-block;
  padding: 0 20px;
  z-index: 2;
  background-color: #ffffff;
  position: relative;
}

.iconArea__nav__item__button__sol, 
.iconArea__nav__item__button__sag {
  display: inline-block;

}

.iconArea__nav__item__button__sol a {
  background-color: #dddddd;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
}

.iconArea__nav__item__button__sag a {
  background-color: #f85458;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
}

.iconArea__nav__item__line {
  position: absolute;
  top: 50%;
  border: 1px solid #dddddd;
  width: 100%;
}
