.infoArea {
  display: block;
  background-image: url('../media/infoArea__bg.jpg');
  background-size: cover;
  background-position: center center;
}

.infoArea__photo {
  padding: 10px 0;
}

.infoArea__textField__title{
  padding-top: 50px;
  margin: 0;
  color: #ffffff;
}

.infoArea__textField__text {
  padding-bottom: 50px;
  margin: 0;
  color: #ffffff;
}

.infoArea_detaiButton {
  position: relative;
}

.infoArea__detai{
  color: #ffffff;
  padding: 25px 66px;
  border: 1px solid #ffffff;
}

.infoArea__detai:hover {
  background-color: #ffffff;
  color: #f04e53;
}
