.infoArea {
  position: relative;
  display: block;
  background-image: url('../media/infoArea__bg.jpg');
  background-size: cover;
  background-position: center center;
  padding: 42px 0;
}

.infoArea__photo {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0%,-50%);
}

.infoArea__textField {
  position: relative;
  z-index: 1;
}

.infoArea__textField__title{

  margin: 0;
  color: #ffffff;
}

.infoArea__textField__text {
  margin: 0;
  color: #ffffff;
}

.infoArea__button {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0%,-50%);
}

.infoArea__button__detaiButton {
  display: inline-block;
  color: #ffffff;
  padding: 25px 80px;
  border: 1px solid #ffffff;
}

.infoArea__button__detaiButton:hover {
  background-color: #ffffff;
  color: #f04e53;
}

@media (max-width: 991px) {
  .infoArea__photo, .infoArea__button {
    position: relative;
    display: block;
  }
}
