.infoArea {
  position: relative;
  display: block;
  background-image: url('../media/infoArea__bg.jpg');
  background-size: cover;
  background-position: center center;
  padding: 42px 0;
}

.infoArea .row {
  position: relative;
}

.infoArea__photo {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0%,-50%);
}

.infoArea__textField {
  position: relative;
  display: inline-
  z-index: 1;
}

.infoArea__textField__title{
  margin: 0;
  color: #ffffff;
}

.infoArea__textField__text {
  margin: 0;
  color: #ffffff;
}

.infoArea__button {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0%,-50%);
  z-index: 1;
}

.infoArea__button__detailButton {
  position: relative;
  display: inline-block;
  color: #ffffff;
  padding: 25px 80px;
  border: 1px solid #ffffff;
}

.infoArea__button__detailButton:hover {
  background-color: #ffffff;
  color: #f04e53;
  cursor: pointer;
}

@media (max-width: 991px) {
  .infoArea__photo, .infoArea__button {
    position: relative;
    display: inline;
  }

  .infoArea__button {
    display: inline;
    text-align: right;
  }

}
