.news {
  position: relative;
  background-image: url('../media/infoarea__bg.jpg');
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.news__area {
  margin: 20px 20px;
}

.news__area__header {
  border-bottom: 1px solid #e6dae2;
}

.news__area__header__title {
  display: inline-block;
  color: #ffffff;
}

.news__area__header__nav {
  margin-top: 10px;
  display: inline-block;

}

.news__area__header__nav .fa-circle {
  vertical-align: bottom;
}

.news__area__header__nav .passive, 
.news__area__item__more .passive {
  color: #ffffff;
}

.news__area__header__nav .active,
.news__area__item__more .active {
  color: #4eb5a6;
}

.news__area__content {
  position: relative;
  padding-top: 30px;
}

.news__area__item {
  position: relative;
  display: inline-block;
}

.news__area__content .img-responsive {
  position: relative;
  display: block;
}

.news__area__item__image {
}

.news__area [class*="col-"] {
  padding-left:0;
  padding-right:0;
}

.news__area__item__textField {
  padding-left: 15px;
  padding-right: 15px;
}

.news__area__item__more a,
.news__area__header__nav a {
  color: #ffffff;
}

.news__area__item__textField .news__area__item__more:hover 
.fa-circle {
  color: #4eb5a6;
}

.news__area__item__more {
  width: 100%;
  cursor: pointer;
}

.news__area__item__more .more{
  display: block;
}

.news__area__item__more:hover .more {
  color: #4eb5a6;
  font-weight: bold;
}

.news__area__item__textField__title,
.news__area__item__textField__content {
  color: #ffffff;
}

.news__area__item__textField__title:hover {
  color: #4eb5a6;
}

@media (max-width: 991px) {
  .news__area__item__textField {
    padding-left: 0;
    padding-left: 0;
    text-align: center;
  }

  .news__area__item {
    border-bottom: 1px solid #f4e3e1;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .news__area__item__image .img-responsive {
    position: relative;
    margin: auto;
  }

  .news__area__header,
  .news__area__header__nav {
    text-align: center;
    float: none !important;
  }

  .news__area__header__title {
    margin-bottom: 0;
  }

  .news__area__header__nav {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .news__area__item {
    border-right: 1px solid #f4e3e1;
  }

  .news__area__item:nth-of-type(2n) {
    border-right: none;
  }
}
