<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Contact Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="../_assets/css/reset.css">
  <script src="../_assets/plugins/jquery/js/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="../_assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../_assets/css/contactForm.css">
  
</head>
<body>
  <div class="contactForm">
    <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="contactForm__title">İLETİŞİM FORMU</h4>
          </div>
        </div>
        <div class="row">
          <div class="">
            <div class="col-xs-12">
              <form action="javascript:;">
                <input type="text" placeholder="Adınız - Soyadınız" class="contactForm__item">
                <input type="text" placeholder="E-Posta Adresiniz" class="contactForm__item">
                <textarea name="" id="" cols="30" rows="10" class="contactForm__item" placeholder="Mesajınız"></textarea>
                <input type="submit" class="contactForm__item contactForm__item__submit pull-right" value="GÖNDER">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
