<!DOCTYPE html>
<html>
<head>
	<title>Header</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="../_assets/css/reset.css">
	<script src="../_assets/plugins/jquery/js/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../_assets/plugins/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="../_assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../_assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../_assets/css/header.css">
</head>
<body>
	<div class="header navbar">
		<div class="container-fluid">
			<div class="row no-gutter">
				<div class="col-xs-12">
					<div class="header__logo">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-4">
									<img src="../_assets/media/logo.png" class="img-responsive">
								</div>
							</div>
						</div>					
					</div>
					<div class="header__top">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-9 col-md-8 col-sm-offset-3 col-md-offset-4">
									<div class="header__top__auth pull-right clearfix">
										<div class="header__top__auth__item register">
											<a href="">
											<i class="fa fa-plus-circle"></i> Üye Ol
											</a>
										</div>
										<div class="header__top__auth__item login">
											<a href="">
												<i class="fa fa-lock"></i> Üye Girişi
											</a>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div class="header__navBar">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 header__toggle">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<div class="header__navBar__menu collapse navbar-collapse" id="navBar">
									<div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-3">
										<ul class="nav navbar-nav pull-right">
											<li class="header__navBar__menu__item"><a href="/">ANASAYFA</a></li>
											<li class="header__navBar__menu__item"><a href="/">HAKKIMIZDA</a></li>
											<li class="header__navBar__menu__item"><a href="/">PORTFOLYO</a></li>
											<li class="header__navBar__menu__item"><a href="/">BLOG</a></li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-2 header__navBar__search clearfix">
										<form class="navbar-form">
							        <div class="form-group">
							        	<input type="text" class="form-control" placeholder="Arama">
						        		<i class="fa fa-search"></i>
							        </div>
										</form>					
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>	
		</div>
	</div>
</body>
</html>
