<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>iconArea</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="../_assets/css/reset.css">
  <script src="../_assets/plugins/jquery/js/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="../_assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../_assets/css/iconArea.css">
</head>
<body>
  <div class="iconArea">
    <div class="container">
      <div class="row">
        <div class="iconArea__station"></div>
        <div class="iconArea__yazTasarla">
          <div class="col-xs-12 col-md-4">
            <img src="../_assets/media/yaz-tasarla.png" alt="Yaz/Tasarla" class="iconArea__yazTasarla__photo img-responsive">
            <h4 class="iconArea__textField__title">YAZ/TASARLA</h4>
            <p class="iconArea__textField__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt suscipit, quibusdam aliquid voluptates, blanditiis quis quae. Maiores quam tenetur, vero blanditiis vel exercitationem facilis,</p>
          </div>
        </div>
        <div class="iconArea__paylasOgren">
          <div class="col-xs-12 col-md-4">
            <img src="../_assets/media/paylas-ogren.png" alt="Paylaş/Öğren" class="iconArea__paylasOgren__photo img-responsive">
            <h4 class="iconArea__textField__title">PAYLAŞ/ÖĞREN</h4>
            <p class="iconArea__textField__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt suscipit, quibusdam aliquid voluptates, blanditiis quis quae. Maiores quam tenetur, vero blanditiis vel exercitationem facilis,</p>
          </div>
        </div>
        <div class="iconArea__bilgiEdin">
          <div class="col-xs-12 col-md-4">
            <img src="../_assets/media/bilgi-edin.png" alt="Bilgi Edin" class="iconArea__bilgiEdin__photo img-responsive">
            <h4 class="iconArea__textField__title">BİLGİ EDİN</h4>
            <p class="iconArea__textField__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt suscipit, quibusdam aliquid voluptates, blanditiis quis quae. Maiores quam tenetur, vero blanditiis vel exercitationem facilis,</p>
          </div>
        </div>
      </div>
      <div class="iconArea__nav">
        <div class="row">
          <div class="col-xs-12">
            <div class="iconArea__nav__item">
              <div class="iconArea__nav__item__sol">
                <a href="">
                  <i class="fa fa-angle-left"></i>
                </a>
              </div>
              <div class="iconArea__nav__item__sag">
                <a href="">
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </div>
            <div class="cizgi"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
