<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="../_assets/css/reset.css">
  <script src="../_assets/plugins/jquery/js/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="../_assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../_assets/css/header.css">
  <link rel="stylesheet" type="text/css" href="../_assets/css/slider.css">
  <link rel="stylesheet" type="text/css" href="../_assets/css/infoArea.css">
  <link rel="stylesheet" type="text/css" href="../_assets/css/iconArea.css">
  <link rel="stylesheet" type="text/css" href="../_assets/css/topics.css">
  
</head>
<body>
  <div class="header navbar">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-xs-12">
          <div class="header__logo">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <img src="../_assets/media/logo.png" class="img-responsive">
                </div>
              </div>
            </div>          
          </div>
          <div class="header__top">
            <div class="container">
              <div class="row">
                <div class="col-xs-10 col-sm-9 col-md-8 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
                  <div class="header__top__auth pull-right clearfix">
                    <div class="header__top__auth__item register">
                      <a href="">
                      <i class="fa fa-plus-circle"></i> Üye Ol
                      </a>
                    </div>
                    <div class="header__top__auth__item login">
                      <a href="">
                        <i class="fa fa-lock"></i> Üye Girişi
                      </a>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
          <div class="header__navBar">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 header__toggle">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="header__navBar__menu collapse navbar-collapse" id="navBar">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3">
                    <ul class="nav navbar-nav">
                      <li class="header__navBar__menu__item"><a href="/">ANASAYFA</a></li>
                      <li class="header__navBar__menu__item"><a href="/">HAKKIMIZDA</a></li>
                      <li class="header__navBar__menu__item"><a href="/">PORTFOLYO</a></li>
                      <li class="header__navBar__menu__item"><a href="/">BLOG</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-2 col-sm-offset-0 header__navBar__search clearfix">
                    <form class="navbar-form">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Arama">
                        <i class="fa fa-search"></i>
                      </div>
                    </form>         
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>  
    </div>
  </div>
  <div class="slider">
    <div class="slider__item">
      <div class="slider__item__filter"></div>
      <div class="slider__item__text">
        <div class="container">
          <div class="row no-gutter">
            <div class="col-md-6 col-md-offset-3">
              <h2 class="slider__item__text__title">MERHABA</h2>
              <p class="slider__item__text__content">Tea & Tech olarak genç ve dinamik kadromuzla bizler hazırız.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="infoArea">
    <div class="container">
      <div class="row">
        <div class="infoArea__photo clearfix">
          <div class="col-xs-12 col-md-2">
            <img src="../_assets/media/infoArea__info.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="infoArea__textField clearfix">
          <div class="col-xs-12 col-md-7 col-md-offset-2">
            <h2 class="infoArea__textField__title">Lorem Ipsum Dolor</h2>
            <p class="infoArea__textField__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit inventore consequatur dicta error voluptatum labore saepe temporibus nulla deleniti nihil et id in aliquid.</p>
          </div>
        </div>
        <div class="infoArea__button clearfix">
          <div class="col-xs-12 col-md-3 col-md-offset-9">
            <a class="infoArea__button__detailButton">İncele</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="iconArea">
    <div class="container">
      <div class="iconArea__content">
        <div class="row">
          <div class="iconArea__yazTasarla">
            <div class="col-xs-12 col-md-4">
              <img src="../_assets/media/yaz-tasarla.png" alt="Yaz/Tasarla" class="iconArea__yazTasarla__photo img-responsive">
              <h4 class="iconArea__textField__title">YAZ/TASARLA</h4>
              <p class="iconArea__textField__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt suscipit, quibusdam aliquid voluptates, blanditiis quis quae. Maiores quam tenetur, vero blanditiis vel exercitationem facilis,</p>
            </div>
          </div>
          <div class="iconArea__paylasOgren">
            <div class="col-xs-12 col-md-4">
              <img src="../_assets/media/paylas-ogren.png" alt="Paylaş/Öğren" class="iconArea__paylasOgren__photo img-responsive">
              <h4 class="iconArea__textField__title">PAYLAŞ/ÖĞREN</h4>
              <p class="iconArea__textField__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt suscipit, quibusdam aliquid voluptates, blanditiis quis quae. Maiores quam tenetur, vero blanditiis vel exercitationem facilis,</p>
            </div>
          </div>
          <div class="iconArea__bilgiEdin">
            <div class="col-xs-12 col-md-4">
              <img src="../_assets/media/bilgi-edin.png" alt="Bilgi Edin" class="iconArea__bilgiEdin__photo img-responsive">
              <h4 class="iconArea__textField__title">BİLGİ EDİN</h4>
              <p class="iconArea__textField__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt suscipit, quibusdam aliquid voluptates, blanditiis quis quae. Maiores quam tenetur, vero blanditiis vel exercitationem facilis,</p>
            </div>
          </div>
        </div>  
      </div>
      
      <div class="iconArea__nav">
        <div class="row">
          <div class="col-xs-12">
            <div class="iconArea__nav__item">
              <div class="iconArea__nav__item__line"></div>
              <div class="iconArea__nav__item__button">
                <div class="iconArea__nav__item__button__sol">
                  <a href="javascript:;">
                    <i class="fa fa-angle-left"></i>
                  </a>
                </div>
                <div class="iconArea__nav__item__button__sag">
                  <a href="javascript:;">
                    <i class="fa fa-angle-right"></i>
                  </a>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="topics">
    <div class="container">
      <div class="topics__content">
        <div class="row">
            <div class="col-xs-12">
              <div class="topics__header">
                <a href="javascript:;"><h5 class="topics__header__item">BLOG<i class="fa fa-circle"></i></a></h5>
                <a href="javascript:;"><h5 class="topics__header__item active">PORTFOLYO<i class="fa fa-circle"></i></h5></a>
                <a href="javascript:;"><h5 class="topics__header__item">WEB<i class="fa fa-circle"></i></h5></a>
                <a href="javascript:;"><h5 class="topics__header__item">GRAFİK</h5></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="topics__item col-xs-6 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/1.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-6 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/2.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-6 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/3.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-6 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/4.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-6 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/5.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-6 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/6.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-6 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/7.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-6 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/8.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-6 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/9.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
          </div>  
      </div>
      <div class="topics__nav">
        <div class="row">
          <div class="col-xs-12">
            <div class="topics__nav__item">
              <div class="topics__nav__item__line"></div>
              <div class="topics__nav__item__button">
                <a href="javascript:;">Daha Fazla Yükle</a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</body>
</html>
