<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>infoArea</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="../_assets/css/reset.css">
  <script src="../_assets/plugins/jquery/js/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="../_assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../_assets/css/infoArea.css">
</head>
<body>
  <div class="infoArea">
    <div class="container">
      <div class="row">
        <div class="infoArea__photo">
          <div class="col-xs-12 col-md-2">
            <img src="../_assets/media/infoArea__info.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="infoArea__textField">
          <div class="col-xs-12 col-md-7">
            <h2 class="infoArea__textField__title">Lorem Ipsum Dolor</h2>
            <p class="infoArea__textField__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit inventore consequatur dicta error voluptatum labore saepe temporibus nulla deleniti nihil et id in aliquid.</p>
          </div>
        </div>
        <div class="infoArea__button">
          <div class="col-xs-12 col-md-3">
            <a class="infoArea_detaiButton">İncele</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
