<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="../_assets/css/reset.css">
  <script src="../_assets/plugins/jquery/js/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="../_assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../_assets/css/news.css">
</head>
<body>
  <div class="news">
    <div class="container">
      <div class="news__area">
        <div class="news__area__top">
          <div class="row">
            <div class="news__area__header clearfix">
              <div class="col-xs-8">
                <h4 class="news__area__header__title">Güncel Haber ve Duyurular</h4>
              </div>
              <div class="col-xs-4">
                <div class="news__area__header__nav pull-right">
                  <a href="javascript:;"><i class="fa fa-circle passive"></i></a>
                  <a href="javascript:;"><i class="fa fa-circle passive"></i></a>
                  <a href="javascript:;"><i class="fa fa-circle passive"></i></a>
                  <a href="javascript:;"><i class="fa fa-circle active"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="news__area__content">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="news__area__item">
                <div class="col-xs-12 col-md-5">
                  <div class="news__area__item__image">
                    <img src="../_assets/media/news/1.jpg" alt="" class="img-responsive">
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="news__area__item__textField">
                    <a href="javascript:;" class="news__area__item__textField__title"><h4>Lorem ipsum dolor sit amet</h4></a>
                    <p class="news__area__item__textField__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit voluptates, vero suscipit alias repellendus in ab officiis ipsum amet molestias eveniet optio</p>
                    <div class="col-xs-12 col-md-6 news__area__item__more">
                      <a href="javascript:;" class="more"><i class="fa fa-circle passive"></i> Devamı</a>
                    </div>
                  </div>
                </div>
              </div>
             </div>
             <div class="col-xs-12 col-md-6 news__area__item">
              <div class="col-xs-12 col-md-5 col-md-offset-1">
                <div class="news__area__item__image">
                  <img src="../_assets/media/news/2.jpg" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="news__area__item__textField">
                  <a href="javascript:;" class="news__area__item__textField__title"><h4>Lorem ipsum dolor sit amet</h4></a>
                  <p class="news__area__item__textField__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit voluptates, vero suscipit alias repellendus in ab officiis ipsum amet molestias eveniet optio</p>
                  <div class="col-xs-12 col-md-6 news__area__item__more">
                    <a href="javascript:;" class="more"><i class="fa fa-circle passive"></i> Devamı</a>
                  </div>
                </div>
              </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
