<!DOCTYPE html>
<html>
<head>
	<title>Slider</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="../_assets/css/reset.css">
	<script src="../_assets/plugins/jquery/js/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../_assets/plugins/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="../_assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../_assets/js/slider.js"></script>
	<link rel="stylesheet" type="text/css" href="../_assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../_assets/css/slider.css">
</head>
<body>
	<div id="myCarousel" class="carousel slide">
        <!-- Indicators 
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="carousel-filter"></div>
                <div class="fill" style="background-image:url('../_assets/media/slider2.jpg');"></div>
                <div class="carousel-caption">
                    <h1>MERHABA</h1>
                    <div class="carousel-caption-line"></div>
                    <div class="carousel-caption-article">
                    	<h3>Tea & Tech olarak genç ve dinamik kadromuzla<br> bizler hazırız.</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a> -->
    </div>
</body>
</html>