<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Topics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="../_assets/css/reset.css">
  <script src="../_assets/plugins/jquery/js/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="../_assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../_assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../_assets/css/topics.css">
</head>
<body>
  <div class="topics">
    <div class="container">
      <div class="topics__content">
        <div class="row">
            <div class="col-xs-12">
              <div class="topics__header">
                <a href="javascript:;"><h5 class="topics__header__item">BLOG<i class="fa fa-circle"></i></a></h5>
                <a href="javascript:;"><h5 class="topics__header__item active">PORTFOLYO<i class="fa fa-circle"></i></h5></a>
                <a href="javascript:;"><h5 class="topics__header__item">WEB<i class="fa fa-circle"></i></h5></a>
                <a href="javascript:;"><h5 class="topics__header__item">GRAFİK</h5></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="topics__item col-xs-12 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/1.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-12 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/2.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-12 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/3.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-12 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/4.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-12 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/5.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-12 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/6.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-12 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/7.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-12 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/8.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
            <div class="topics__item col-xs-12 col-sm-6 col-md-4">
              <img src="../_assets/media/topics/9.jpg" alt="1" class="img-responsive">
              <div class="topics__textField">
                <h4 class="title">Yazılım Konusunda Bilmeniz Gerekenler</h4>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laboriosam error blanditiis alias voluptatem, saepe sit quaerat ipsam qui ea magnam aliquid est, delectus vitae. Accusantium vero minima, voluptate aperiam.</p>
              </div>
            </div>
          </div>  
      </div>
      <div class="topics__nav">
        <div class="row">
          <div class="col-xs-12">
            <div class="topics__nav__item">
              <div class="topics__nav__item__line"></div>
              <div class="topics__nav__item__button">
                <a href="javascript:;">Daha Fazla Yükle</a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</body>
</html>
